
<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <% if comment.user.avatar? %>
    <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag (comment.user.avatar.small.url) %>
  <% end %>
<% end %>

<div class="media-body">
  <%= content_tag(:small) do %>
  <%= (comment.user.name || comment.user.email) %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if policy(comment).destroy? %>
  | <%= link_to "Delete", [comment.post, comment], method: :delete, remote: true %>
      <% end %>
  <% end %>
  <%= content_tag(:p, comment.body) %>
  </div>
<% end %>